// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import '~vue-multiselect/dist/vue-multiselect.min.css';


  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  main {
    text-align: center;
    margin-top: 40px;
  }

  header {
    margin: 0;
    height: 56px;
    padding: 0 16px 0 24px;
    background-color: #35495E;
    color: #ffffff;
  }

  selectedProduct {
    resize: none;
  }

  .list-group {
      max-height: 300px;
  }

  .left-0 {
      left: 0;
  }

  .right-0 {
      right: 0;
  }

  .row {
      min-height: 45px;
  }
