<template>
  <div id="addComponent">1</div>
</template>

<script>
/**
 * write a component's description
 */
export default {
  name: "addComponent",
  /**
   * @description
   * @returns {any}
   */
  data() {
    return {
      product: [],
    };
  },
  methods: {
    /**
     * @description
     */
    async addProduct() {
      if (this.product.title !== "" && this.product.description !== "") {
        await ProductsService.addNewproduct({
          title: this.product.title,
          description: this.product.description,
        });
        this.getProducts();
        this.$router.push({ name: "Products" });
      } else {
        alert("Empty fields!");
      }
    },
  },
};
</script>
