<template>
  <div id="app">
    <header class="row">
        <router-link v-bind:to="{ name: 'CatalogComponent' }" class="btn btn-lg btn-outline-info" >Catalog</router-link>
    </header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
/**
 * layout for vue application
 *
*/
export default {
  name: 'app'
}
</script>
