<template>
  <div id="catalogComponent" class="container">
    <label class="h4">filters</label>
    <div class="row position-relative">
      <div class="col-8 position-absolute left-0 right-0 m-auto">
        <multiselect
          v-model="activeFilters"
          :options="filters"
          :multiple="true"
          :close-on-select="false"
          :clear-on-select="false"
          :preserve-search="true"
          placeholder="Pick some"
          :custom-label="TitleAndId"
          label="title"
          track-by="title"
          :preselect-first="false"
        >
          <template slot="selection" slot-scope="{ values, search, isOpen }">
            <span
              class="multiselect__single"
              v-if="values.length &amp;&amp; !isOpen"
            >{{ values.length }} options selected</span>
          </template>
        </multiselect>
      </div>
    </div>
    <label class="h4">products</label>
    <div class="row pr-5 pl-5">
      <div class="list-group col-6 overflow-auto">
        <a class="list-group-item list-group-item-action"  v-for="product in filterProducts(products)" v-bind:key="product.id" @click="selectedProduct = product" >
            {{ product.title }} {{ product.filters.title }}:{{ product.filters.id }}
            <button class="btn btn-sm p-1 btn-danger" @click="deletProduct(product.id)">x</button>
        </a>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" v-model="selectedProduct.title" />
        <textarea class="form-control h-75 mt-4" v-model="selectedProduct.description"></textarea>
      </div>
    </div>

  </div>
</template>

<script>
/**
 * Catalog component
 */
import Multiselect from "vue-multiselect";
import ProductsService from './../services/ProductsService'
import FiltersService from './../services/FiltersService'
export default {
  name: "catalogComponent",
  components: {
    Multiselect,
  },
  /**
   * Products and filters data
   * @vue-data {Array} activeFilters - Currently active filters
   * @vue-data {Array} products - List of all products
   * @vue-data {Array} filters - List of all filters
   * @vue-data {Array} selectedProduct - Currently selected product
   */
  data() {
    return {
      activeFilters: [],
      products: [],
      filters: [],
      selectedProduct: []
    };
  },
  methods: {
    /**
     * Get products from API
     */
    async getProducts() {
      const response = await ProductsService.fetchProducts();
      this.products = response.data;
    },
    /**
     * Get filters from API
     */
    async getFilters() {
      const response = await FiltersService.fetchFilters();
      this.filters = response.data;
    },
    /**
     * Delete product using API
     * @param {any} id
     */
    async deletProduct(id) {
      await ProductsService.deleteProducts(id);
      this.getProducts();
    },
    /**
     * Set string format for <multiselect ... > ... </multiselect> items
     * @param {String} title
     * @param {String} id
     * @returns {String}
     */
    TitleAndId ({ title, id }) {
      return `${title} — [id:${id}]`
    },
    /**
     * Filter all listed products by active filters
     * @param {Array} products
     * @returns {Array}
     */
    filterProducts(products) {
        return products.filter((product) => {
            if ( this.activeFilters.length === 0 ) return true;
            let result = false;
            $.each(this.activeFilters, (key, value) => {
                if(product.filters.id == value.id) {
                    result = true;
                     return true;
                }
            });
            return result;
        })
    }
  },
  /**
   * When mounted get all products and filters
   */
  mounted() {
    this.getProducts();
    this.getFilters();
  },
};
</script>

<style src=""></style>
